@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,500&display=swap");

:root {
  --default-color: #FFF;
  --primary-color: #6E6E6E;
  --secondary-color: #20BC9B;
  --text-color:#B3BAB8;
  --main-color: #F5F5F5;
  --danger-color: #FF4B4B;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: var(--default-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}



@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}